:root {
  --black-text-color: #000000;
  --nav-color: #212121;
  --decoration-color: #2196f3;
  --bg-submit-active: #188ce8;
  --appoint-bg-op90: rgba(33, 150, 243, 0.9);
  --color-white: #ffffff;
  --primary-text-color: #757575;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --footer-address-color-op60: rgba(255, 255, 255, 0.6);
  --join-icon-bg-op10: rgba(255, 255, 255, 0.1);
  --thumb-text-op80: rgba(47, 48, 58, 0.8);
  --bg-color: #2f303a;
  --border-color: #ececec;
  --btn-bg-color: #f5f4fa;
  --social-color: #afb1b8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.logo,
.header-nav,
.nav-list,
.communication-list {
  display: flex;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

body {
  text-decoration: none;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: color var(--timing-function),
    background-color var(--timing-function);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

.nav-li.std,
.nav-li.prf,
.nav-li.cnt {
  color: var(--decoration-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--decoration-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-logo {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 24px 94px 25px 0;
}

.web-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.studio-logo {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.nav-list {
  justify-content: space-between;
  align-items: center;
  width: 294px;
  margin: 0;
  padding: 0;
}

.nav-li {
  color: var(--nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
}

.menu-item {
  position: relative;
  padding: 32px 0;
}

.std::after,
.prf::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  background-color: var(--decoration-color);
}

.communication-list {
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.communication {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.tell {
  margin-left: 30px;
}

.tool {
  fill: currentColor;
  margin-right: 10px;
}

/* Primary page */

.nav-li:hover,
.nav-li:focus,
.communication:hover,
.communication:focus {
  color: var(--decoration-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../images/bg.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  min-height: 600px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(4);
}

.modal {
  max-height: 100vh;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;

  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--nav-color);

  transform: translate(-50%, -50%);
  transition: transform var(--timing-function);
}

.modal p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.order-servise-form {
  margin: 0;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.imput-cont {
  position: relative;
}

.form-input:focus,
.form-input:hover {
  border: 1px solid var(--decoration-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--timing-function);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--decoration-color);
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  height: 40px;
  width: 100%;
  outline: none;
  transition: border var(--timing-function);
}

.form-group label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-right: auto;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.form-group textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  font-size: 12px;
}

.form-check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-check label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-input {
  display: none;
}

.check-input:checked + .check-icon {
  border: none;
}

.check-input:checked + .check-icon use {
  opacity: 1;
}

.check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--nav-color);
  border-radius: 1px;
  margin-right: 7px;
}

.check-icon use {
  opacity: 0;
}

.form-text {
  font-size: 14px;
  line-height: 1.71px;
  color: var(--nav-color);
}

.form-link {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: underline;
  color: var(--decoration-color);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;

  color: var(--color-white);
  background-color: var(--decoration-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: background-color var(--timing-function);
}

.submit-button:hover {
  background-color: var(--bg-submit-active);
}

.main-sections-text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 30px;
}

.main-button {
  font-weight: 900;
  line-height: 1.8;
  margin: 0 auto;
  transition: color var(--timing-function),
    background-color var(--timing-function);
}

.main-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-text-color);
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.main-button-close:hover,
.main-button-close:focus {
  color: var(--decoration-color);
  cursor: pointer;
}

.apps {
  padding-top: 94px;
}

.txt-hidden {
  display: none;
}

.apps-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.apps-li {
  max-width: 270px;
}

.apps-icon {
  width: 100%;
  height: 70px;
  border-radius: 4px;
}

.apps-icon-cont {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-color);
  fill: var(--nav-color);
}

.apps-title {
  color: var(--nav-color);
  display: flex;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
}

.qualities {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.are-we-doing {
  color: var(--nav-color);
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.we-doing-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.project-thumb {
  position: relative;
  display: flex;
  z-index: -1;
}

.duing-txt {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--thumb-text-op80);
  padding: 27px 0;
}

.team-title {
  display: flex;
  color: var(--nav-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.team-section {
  background-color: var(--btn-bg-color);
}

.cards {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}

.cards-img {
  margin-bottom: 30px;
}

.name-person {
  color: var(--nav-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.person-poition {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px 30px;
}

.soc-site {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-site:hover,
.soc-site:focus {
  color: var(--color-white);
  background-color: var(--decoration-color);
}

.clients {
  color: var(--decoration-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.client {
  color: var(--social-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}

.client:hover,
.client:focus {
  color: var(--decoration-color);
}

.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  margin: 0;
}

.footer-all {
  display: flex;
  align-items: baseline;
}

.footer-cont {
  margin: 0;
  padding: 0;
}

.footer .studio-logo-footer {
  color: var(--color-white);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.logo-footer {
  display: flex;
  margin-bottom: 20px;
}

.studio-logo-footer {
  color: var(--color-white);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}

.communication-footer {
  color: var(--footer-address-color-op60);
  font-size: 14px;
  line-height: 1.7;
}

.address {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.addresses {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.7;
}

.f-email {
  margin: 9px 0;
}

.join {
  align-items: center;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.socials-join {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.soc-site-join {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--join-icon-bg-op10);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.soc-icon-join {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-site-join:hover,
.soc-site-join:focus {
  background-color: var(--decoration-color);
}

.subscribe {
  margin-left: auto;
}

.form-subscribe {
  display: flex;
}

.subscribe-input {
  padding: 15px;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-white);
  background-color: inherit;
}

.sub-submit {
  width: 200px;
  margin-left: 12px;
}

.sub-submit .subscribe-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding: 10px 28px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--decoration-color);
}

/* Portfolio */

.filtress {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 16px;
  width: 611px;
}

.filtress-button {
  color: var(--nav-color);
  background-color: var(--btn-bg-color);
  font-family: inherit;
  display: flex;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  justify-content: space-between;
  transition: color var(--timing-function),
    background-color var(--timing-function);
}

.filtress-button:focus,
.filtress-button:hover {
  color: var(--color-white);
  background-color: var(--decoration-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.cont-card {
  margin: 0;
  margin-top: 34px;
  padding: 0;
}

.prtf-card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: -30px;
  margin-left: -30px;
}

.prtf-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
}

.cards-prtf {
  transition: box-shadow var(--timing-function);
  overflow: hidden;
}

.cards-prtf:focus,
.cards-prtf:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.app-thumb {
  position: relative;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--appoint-bg-op90);
  opacity: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--timing-function), opacity var(--timing-function);
}

.cards-prtf:hover .projects-overlay,
.cards-prtf:focus .projects-overlay {
  transform: translateX(0);
  opacity: 1;
}

.overlay-txt {
  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.app-thumb-txt {
  padding: 63px 24px;
}

.cont-appoint {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.appoint {
  color: var(--nav-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.appoint-resurses {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}
